<div class="panel-body">
    <EditForm OnValidSubmit="@HandleValidSubmit" Model="@Boss">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputText id="name" @bind-Value="Boss.Name" />

        <button type="submit">Submit</button>
        <button @onclick="DeleteBoss">Delete</button>
    </EditForm>
</div>