<div class="panel-body">
    <MatTextField label="Name" @bind-Value="Boss.Name" OnKeyPress="@OnKeypressHandler"></MatTextField>

    @if(Boss != null && Boss.Id!=null) {
        <MatButton Icon="delete" OnClick="@DeleteBoss" />
    }
</div>