<div class="panel-body">
    <EditForm OnValidSubmit="@HandleValidSubmit" Model="@Character">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <InputText id="name" @bind-Value="Character.Name" />
        <InputSelect @bind-Value="Character.CharacterClass">
            <option value="">Select class:</option>
            @foreach (var value in Enum.GetValues(typeof(CharacterClass)))
            {
                <option>@value</option>
            }
        </InputSelect>

        <button type="submit">Submit</button>
    </EditForm>
</div>