<div class="panel panel-default border @Collapse">
    <div class="panel-heading alert-primary">
        <h3 class="panel-title">Characters</h3>
    </div>
    <div class="panel-body">
        <p>@Character.Name - @Character.CharacterClass</p>
    </div>
</div>