<div class="panel-body">
        <MatTextField label="Name" @bind-Value="Character.Name" OnFocusOut="HandleValidSubmit"></MatTextField>
        
        <img src="images/classes/@(Character.CharacterClass.ToString().ToLower()).png" width="20px" height="20px" />
        <MatSelectItem @bind-Value="Character.CharacterClass" Items="@GetClasses()" @onfocusout="HandleValidSubmit">
            <ItemTemplate><span class="@context">@context</span></ItemTemplate>
        </MatSelectItem>

        <img src="images/roles/tank.png"/>
        @if(IsTank) {
            <input type="checkbox" @onchange="e=>{UpdateRole(Role.Healer, e.Value);}" checked />
        } else {
            <input type="checkbox" @onchange="e=>{UpdateRole(Role.Healer, e.Value);}" />
        }

        <img src="images/roles/healer.png"/>
        @if(IsHealer) {
            <input type="checkbox" @onchange="e=>UpdateRole(Role.Healer, e.Value)" checked />
        } else {
            <input type="checkbox" @onchange="e=>UpdateRole(Role.Healer, e.Value)"/>
        }

        <img src="images/roles/melee.png"/>
        @if(IsMelee) {
            <input type="checkbox" @onchange="e=>UpdateRole(Role.Melee, e.Value)" checked />
        } else {
            <input type="checkbox" @onchange="e=>UpdateRole(Role.Melee, e.Value)"/>
        }

        <img src="images/roles/ranged.png"/>
        @if(IsRanged) {
            <input type="checkbox" @onchange="e=>UpdateRole(Role.Ranged, e.Value)" checked />
        } else {
            <input type="checkbox" @onchange="e=>UpdateRole(Role.Ranged, e.Value)"/>
        }

        @if(Character!=null && Character.Id!=null) {
            <MatButton Icon="delete" OnClick="@DeleteCharacter"></MatButton>
        }
</div>