<div class="panel panel-default">
    <h4 @onclick="ToggleCollapse">@( this.Collapse=="collapse" ? "+" : "-") @Boss.Name</h4>

    <div class="instance-table @Collapse">
    <table>
        <thead>
            <tr>
                <th>Boss:</th>
                <th>Approved:</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var character in GetCharacters()) 
            {
                <tr>
                    @* Fix the checkbox *@
                    <td class="character-name"><img src="images/classes/@(character.CharacterClass.ToString().ToLower()).png" width="20px" height="20px" /> @character.Name</td>
                    @if(IsApproved(Boss, character)) {
                        <td class="checkbox"><input type="checkbox" @onchange="e=>{CheckboxClicked(Boss, character, e.Value);}" checked /></td>
                    } else {
                        <td class="form-text"><input type="checkbox" @onchange="e=>{CheckboxClicked(Boss, character, e.Value);}" /></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>