@page "/instances"
@namespace RaidPlannerClient.Pages

<h1>Instances</h1>
@if (instances == null)
{
    <p><em>Loading...</em></p>
}
else {
    <h3>New Instance</h3>
    <InstanceForm Instance="@newInstance" Instances="@this" />

    <h3>Existing Instances</h3>
@foreach(var instance in instances) {
    <InstanceForm Instance="@instance" Instances="@this" />
}
}