@page "/players"
@namespace RaidPlannerClient.Pages
@using RaidPlannerClient.Model
@inject HttpClient Http

<h1>Players</h1>
<button class="btn btn-primary" @onclick="AddPlayer">Add Player</button>
<button class="btn btn-primary" @onclick="RefreshPlayers">Refresh Player</button>
@if (players == null)
{
    <p><em>Loading...</em></p>
}
else {
<PlayerForm />

<table>
    <tr>
        <th>Player:</th>
        <th>Character:</th>
        <th>Class:</th>
    </tr>

    @foreach(var player in players) {
    <tr>
        <td>@player.Name</td>
        <td></td>
    </tr>
    @if(player.Characters != null) {
    @foreach (var character in player.Characters)
    {
        <tr>
            <td></td>
            <td>@character.Name</td>
            <td>@character.CharacterClass</td>
        </tr>
    }
    }
    }
</table>

}