@page "/players"
@namespace RaidPlannerClient.Pages

<h1>Players</h1>
@if (players == null)
{
    <p><em>Loading...</em></p>
}
else {
    <h3>New player</h3>
    <PlayerForm Player="@newPlayer" Players="@this" />

    <h3>Existing players</h3>
@foreach(var player in players) {
    <PlayerForm Player="@player" Players="@this" />
}
}