@page "/raids"

@if(raids==null) {
    <h3>Loading raids...</h3>
} else {
    @foreach (var raid in raids)
    {
        <RaidForm Raid="@raid" Players="@players" RaidService="@raidService" />
    }
}